.last-page-content{
    margin-top: 0;
    &-left{
        width: 55%;
        position: relative;
        z-index: 2;
        transform-style: preserve-3d;
        &-text{
            display: flex;
            flex-direction: column;
            transform-style: preserve-3d;
            .tspan-1-line{
                transition: stroke 3s filter 3s ;
            }
            & > svg text{
                stroke: #fff;            
                stroke-width: 2;
                font-size: 158px;
                -webkit-user-select: none; /* Safari */
                -ms-user-select: none; /* IE 10 and IE 11 */
                user-select: none; /* Standard syntax */
            }
            &-bxxx{
                width: 50px;
                height: 50px;
                background: red;
                position: absolute;
                transform: translateZ(20px);
                top: 100px;
            }
        }
    }
    &-right{
        width: 45%;
        position: relative;
       background: transparent;
    }
    &-ja-card-box{
        position: relative;
        transform-style: preserve-3d;
        width: 500px;
        height: 365px;
        margin-top: 15%;
        margin-left: 22%;
        &:hover .card-lstpg-co{
            transform: rotate3d(20,180,-20,180deg);
        }
    }
}

.lpcjcb{
    &-card-faces> svg{
        position: absolute;
        right: 50px;
    }
    &-card-faces> svg text{
        stroke: #fff;
        fill: transparent;
        font-size:  font-size-generate-clamp(150px, 170px);
        font-weight: 600;
        stroke-width: 2;
        text-align: center;
        transition:  filter 1s linear;                   
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    &-card-front{
        backface-visibility: hidden;
        transform: translateZ(30px);
        background:rgba(50,234,234,0.7); 
    }
    &-card-back{
        transform: translateZ(0px)  rotateY(180deg);
        /* background: red; */
        backface-visibility: hidden;
        background:rgba(50, 234, 56, 0.7); 
    }
    &-card-faces{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        min-width: 495px;
        cursor: pointer;
        height: 100%;
        transform-style: preserve-3d;
    }
}

.co-end{
    position: relative;
    display: flex;
    flex-direction: row;
}

.card-lstpg-co{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: font-size-generate-clamp(395px ,495px);
    height:360px;
    transition: transform 2.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

@media(max-width: 400px){
    .card-lstpg-co{
        width: 295px;
        height: 160px;
    }
}

.card-ja-text{
    color:#fff;
    font-size: font-size-generate-clamp(150px, 170px);
    position: absolute;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.textavline1{
    stroke: rgb(0, 255, 8);
    filter: drop-shadow(10px 10px 20px rgba(0, 255, 8, 0.392));
}

.left-svg {
    position: absolute;
    background: transparent;
    transform: translateZ(10px);
}