//custom scss for the basic frame work components 
//----------------------------------------------------> Button <----------------------------------------------------//

//.#{$prefix}-button{}

//----------------------------------------------------> Cards <----------------------------------------------------//

.#{$prefix}-card{
    min-height: 456px;
    &-min-height-490{
        height: 490px;
        max-width: 450px !important;
    }
}

//------------------------------------------------> staars Rating <------------------------------------------------//

//.#{$prefix}-stars-rating{}

//------------------------------------------------> news / email form <--------------------------------------------//

//.#{$prefix}-news-form{}

//------------------------------------------------> toggle switch <------------------------------------------------//

//.#{$prefix}-toggle-switch{}