//custom scss for the basic frame work components 
//----------------------------------------------------> Button <----------------------------------------------------//

//.#{$prefix}-button{}

//----------------------------------------------------> Cards <----------------------------------------------------//

.#{$prefix}-card{
    min-height: 456px;
    max-width: 550px !important;
    &-min-height-490{
        height: 490px;
    }
    &__header.#{$prefix}-visitencard{
        display: inline-block;
        justify-content: inherit;
        margin-left: 2rem;
        text-align: left !important;
    }
}

//------------------------------------------------> staars Rating <------------------------------------------------//

//.#{$prefix}-stars-rating{}

//------------------------------------------------> news / email form <--------------------------------------------//

//.#{$prefix}-news-form{}

//------------------------------------------------> toggle switch <------------------------------------------------//

//.#{$prefix}-toggle-switch{} 