
.mobileside-infos{
    display: none;
}
.modal-text-mobile{
    color: #fff;
    margin-left: 11%;
    margin-top: 10px;
}
    .mobiledisclame{
        display: none;
    }

    #mobile-top-disklamer{
        display: none;
    }



.#{$prefix}-footer{
    display: grid;
    place-content: center;
    &__impressum{
        grid-area: impressum;
    }
    &__weiterInfos{
        grid-area: infos;
    }
    &__copyright{
        grid-area: copyright;
        &::before{
            content: ' \00A9';
            font-size: 18pt;
        }
    }
    &__grid{
        width: 30%;
        min-width: 310px;
        max-width: 600px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:"impressum infos"
                            " copyright copyright ";
       column-gap: 20px;
       row-gap: 30px;
        &__item{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}