.#{$prefix}-img3drotation-nav{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-bottom: font-size-generate-clamp(50px, 150px);
    margin-top: 100px;
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 400px) {
            width: 30%;
        }
    }
}