
.project{
    margin-bottom: 100px;
}
/* headerr */
.projekt-skills-bx{
    margin-left: 30px;
}
.pro-skil{
    padding-block: 5px;
    padding-inline: 12px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 50%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}








